<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">HelloWorld's Journey</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 2024</h4>
                                <h4 class="subheading">Finalist in Hana Bank Digital Power-On Competition</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Financial AICC for Foreigners</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2024</h4>
                                <h4 class="subheading">Encouragement Award at Seoul City Saesak Hackathon</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">AICC Platform for Legal, Visa, and Employment Counseling for Foreign Workers</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Applying for
                                <br>Side Impact
                                <br>Spark!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>