<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">HelloWorld의 여정</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6월 2024</h4>
                                    <h4 class="subheading">하나은행 디지털 파워 온 본선 진출</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">외국인 대상 금융 AICC</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>8월 2024</h4>
                                    <h4 class="subheading">서울시 새싹 해커톤 장려상 수상</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">외국인 근로자를 위한 법률, 비자, 채용 상담 AICC 플랫폼</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>사이드임팩트
                                    <br>스파크
                                    <br>참가신청!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>