<!-- Services Section -->
<section id="effects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Expected Effects</h2>
                <h3 class="section-subheading text-muted">Positive Changes HelloWorld Will Create</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- Insert chart or statistics image here -->
                        <img src="{{ site.baseurl }}/img/effectes/people.png" style="width: 80%; height: 80%;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>Consumer Satisfaction with AI Chatbot Experience</h4> -->
                        <!-- <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study"></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>Improved Information Accessibility for Foreigners</h2>
                        <p class="text-muted">
                            Through legal consultations on unfair treatment, we can protect the rights of foreign workers and reduce unfair practices.
                            By providing information on visa extensions, we can help with legal stays and prevent residence-related issues.
                            Easy access to necessary information such as job opportunities and relevant regulations facilitates job-seeking activities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- Insert chart or statistics image here -->
                        <img src="{{ site.baseurl }}/img/effectes/peace.png" style="width: 80%; height: 80%;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>Consumer Satisfaction with AI Chatbot Experience</h4> -->
                        <!-- <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study"></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>Promoting Social Integration</h2>
                        <p class="text-muted">
                            By providing legal employment opportunities and residence information, we can reduce illegal stay issues.
                            Through protecting the rights of foreign workers and providing information, we can help their adaptation to Korean society and promote social integration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- Insert chart or statistics image here -->
                        <img src="{{ site.baseurl }}/img/effectes/AICC.png" style="width: 80%; height: 80%;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>Consumer Satisfaction with AI Chatbot Experience</h4>
                        <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study">Source-Uberall</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>Increased Consultation Satisfaction</h2>
                        <p class="text-muted">AICC provides effective solutions with accuracy and quick problem-solving abilities.
                            80% of customers who interacted with AICC had a positive experience, and it is expected to improve further in the future.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>