<!-- Services Section -->
<section id="effects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">기대효과</h2>
                <h3 class="section-subheading text-muted">HelloWorld가 만들어낼 긍정적인 변화</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- 여기에 차트나 통계 이미지를 넣으세요 -->
                        <img src="{{ site.baseurl }}/img/effectes/people.png" style="width: 80%; height: 80%px;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>소비자의 AI 챗봇 경험 만족도</h4> -->
                        <!-- <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study"></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>외국인들의 정보 접근성 향상</h2>
                        <p class="text-muted">
                            부당한 대우에 대한 법률 상담을 통해 외국인 근로자의 권리를 보호하고 불공정한 처우를 줄일 수 있습니다.
                            비자 연장 등의 정보 제공으로 합법적 체류를 돕고, 체류 관련 문제를 예방할 수 있습니다.
                            채용 정보와 관련 법규 등 필요한 정보를 쉽게 얻을 수 있어 구직 활동이 원활해집니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- 여기에 차트나 통계 이미지를 넣으세요 -->
                        <img src="{{ site.baseurl }}/img/effectes/peace.png" style="width: 80%; height: 80%px;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>소비자의 AI 챗봇 경험 만족도</h4> -->
                        <!-- <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study"></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>사회 통합 촉진</h2>
                        <p class="text-muted">
                            합법적인 취업 기회와 체류 정보 제공으로 불법 체류 문제를 줄일 수 있습니다.
                            외국인 근로자의 권리 보호와 정보 제공을 통해 한국 사회 적응을 돕고 사회 통합을 촉진할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-chart">
                        <!-- 여기에 차트나 통계 이미지를 넣으세요 -->
                        <img src="{{ site.baseurl }}/img/effectes/AICC.png" style="width: 80%; height: 80%px;">
                    </div>
                    <div class="effect-description">
                        <!-- <h4>소비자의 AI 챗봇 경험 만족도</h4>
                        <a href="https://uberall.com/en-us/company/press-releases/study-80-of-consumers-report-chatbot-experiences-as-positive-yet-nearly-60-still-lack-strong-enthusiasm-for-the-technology-according-to-new-uberall-study">출처-Uberall</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="effect-item">
                    <div class="effect-description">
                        <h2>상담 만족도 증가</h2>
                        <p class="text-muted">AICC는 정확성과 빠른 문제해결력으로 효과적인 솔루션을 제공합니다.
                            AICC와 상호작용한 고객 중 80%가 긍정적인 경험을 했으며, 앞으로 더욱 발전할 것으로 예상됩니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>