<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HelloWorld provides<br> integrated settlement support services for foreign workers.</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="javascript:void(0);" class="portfolio-link" onclick="showPost('{{ post.modal-id }}')">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- Content Display Section -->
        <section id="content-display">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="content-image" class="content-image">
                            {% assign first_post = site.posts.first %}
                            <img src="{{ site.baseurl }}{{ first_post.image }}" alt="{{ first_post.title }}" style="width: 600px; height: 600px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="content-text" class="content-text">
                            {{ first_post.content | markdownify}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    
  
<!-- Hidden Post Contents -->
{% for post in site.posts %}
<div id="post-content-{{ post.modal-id }}" style="display: none;">
    <div class="post-image">
        {% if post.youtube_id %}
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ post.youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% elsif post.video %}
            <video controls style="width: 100%; max-width: 600px; height: auto;">
                <source src="{{ site.baseurl }}{{ post.video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% else %}
            <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" style="width: 100%; max-width: 600px; height: 600px;">
        {% endif %}
    </div>
    <div class="post-text">
        {{ post.content | markdownify }}
    </div>
</div>
{% endfor %}
