<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Introducing HelloWorld Services.</h2>
                <h3 class="section-subheading">
                    HelloWorld supports your life and employment in Korea<br>
                    by providing consultation services via chatbot/phone<br>
                    and the latest job postings from reliable platforms.</h3>
                    <!-- HelloWorld supports your life and employment in Korea by providing<br>
                    AICC such as chatbot, callbot, and consultation support,<br>
                    as well as reliable latest job postings and AI-based resume writing services. -->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Chat Consultation</h4>
                <p class="text-muted">Providing legal information, examples + specific solutions</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Callbot Service</h4>
                <p class="text-muted">If chatbot use is difficult, the same consultation and answers are available via phone call</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Offline Consultation Booking</h4>
                <p class="text-muted">Book an offline visit after selecting desired consultation language and preferred consultation schedule</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Conversation-based Summary Provision</h4>
                <p class="text-muted">Generate a summary based on the consultation chat content</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Consultation Center Support</h4>
                <p class="text-muted">Maximize offline consultation efficiency by sending generated summary data to the consultation center</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Job Information Provision</h4>
                <p class="text-muted">Maximize offline consultation efficiency by sending generated summary data to the consultation center</p>
            </div>
        </div>
    </div>
</section>