<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HelloWorld 서비스를 소개합니다.</h2>
                    <h3 class="section-subheading">
                        HelloWorld는 챗봇/전화를 통한 상담서비스와<br>
                        신뢰성 있는 플랫폼의 최신 채용 공고를 제공해<br>
                        여러분의 한국 생활과 취업을 지원합니다.</h3>
                        <!-- HelloWorld는 챗봇,콜봇,상담 지원과 같은 AICC와 <br>
                        신뢰성 있는 최신 채용 공고 및 AI기반 이력서 작성 서비스를 제공해 <br>
                        여러분의 한국 생활과 취업을 지원합니다.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">채팅상담</h4>
                    <p class="text-muted">법률정보 및 예시 + 구체적 해결방안 제시</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">콜봇 서비스</h4>
                    <p class="text-muted">챗봇 사용이 어려운 경우, 동일한 상담 및 답변을 전화 통화로도 진행 가능</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">오프라인 상담 예약</h4>
                    <p class="text-muted">원하는 상담 언어, 희망 상담 일정 선택 후 오프라인 방문 예약</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">대화 기반 요약문 제공</h4>
                    <p class="text-muted">상담 채팅 내용을 바탕으로 요약문을 생성</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">상담센터 지원</h4>
                    <p class="text-muted">생성된 요약문 데이터를 상담센터로 전송해 오프라인 상담 효율을 극대화</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">채용 정보 제공</h4>
                    <p class="text-muted">생성된 요약문 데이터를 상담센터로 전송해 오프라인 상담 효율을 극대화</p>
                </div>
            </div>
        </div>
    </section>